<div class="container">
  {{new-search createMap = "createMap" houses=houses}}
  <div class="map-display"></div>
  {{#if distanceMatrixResults}}
    {{distance-matrix distanceMatrixResults}}
  {{/if}}
</div>
