<div class="container">
  {{tile-search createMap = "createMap" house=house}}
  <div class="map-display"></div>
  {{#if distanceMatrixResults}}
    {{distance-matrix distanceMatrixResults}}
  {{/if}}
</div>
