@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
  font-family: serif;
}


.map-display {
  width: 75%;
  height: 600px;
  margin-bottom: 30px;
}

.hero-unit {
  background-color:steelblue;
  height:25vh;
  text-align: center;
  background-image: url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    margin-top: 0;
    color: white;
    text-shadow: 2px 2px #626262;
    font-size: 8em;
    height: 100%;
    padding-top: 100px;
    background: rgba(0,0,0,0.3);
  }
}

.navbar {
  .navbar-brand {
    color: #000000;
    margin-right: 75px;
    font-size: 18pt;
  }
}

@media screen and (max-width: 866px) {
  .hero-unit h1 {
    // padding-top: 0;
    font-size: 6em;
  }
}

.house-tile {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  img {
    width: 100%;
    max-width: 725px;
    height: 450px;
  }

  a {
    text-decoration: none;
  }
  .house-tile-image-overlay {
    width: 100%;
    max-width: 725px;
    height: 450px;
    position: relative;
    .image-overlay-content {
      color: white;
      background: rgba(0,0,0,0.5);
      width: 100%;
      position: absolute;
      padding-left: 20px;
      bottom: 0;
      a {
        text-decoration:none;
        color: white;
      }
      .details {
        margin-top: 28px;
      }
    }
    .heart {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 40px;
      color: #FFFFFF;
    }
  }
}

.custom-styles-modal {
  max-width: 795px;
  max-height: 80vh;
  overflow-y: auto;
  margin: auto;
  .inside-modal {
    max-width: 100%;
    margin-left: -10px;
    margin-right: -100px;
    margin-top: -9.5px;
    .content {
      margin: 70px;
    }
    img {
      width: 780px;
    }
    .key-li {
      list-style-type: none;
      margin-left: 0;
      padding: 10px 0;
      font-size: 16px;
      img {
        width: 30px;
      }
    }
    .row {
      margin-top: 25px;
      .on-sale {
        margin-top: 25px;
        margin-left: 30px;
      }
      .price {
        margin-left: 30px;
      }
    }
  }
}
.modal-close {
  font-size: 2em;
  color: lightgray;
  opacity: .8;
  position: fixed;
  right: 20px;
  top: 20px;
}

.modal-close:hover {
  opacity: 1;
  cursor: pointer;
}

.key-title {
  font-size: 15pt;
}

.key-icon {
  float:left;
  display: inline-block;
  margin-right: 5px;
}

ul {
  list-style: none;
}

.tile-search {
  .btn-primary {
    font-size: 15pt;
    margin-left: -15px;
  }
}

.main-map {
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
  .btn {
    font-size: 20pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .map-display {
    width: 95%;
    margin: auto;
    margin-bottom: 150px;
  }
}

.favorite-title {
  text-align: center;
  font-size: 45pt;
  margin-bottom: 50px;
}

.fa:hover {
  cursor: pointer;
  font-size: 1.5em;
}
.sorting{
  padding-right: 15%;
  text-align: right;
}
.sold-out {
  margin-top: -315px;
  margin-bottom: 200px;
  padding-left: 20px;
  color: red;
  -webkit-text-stroke: 1px black;
  h1 {
    font-size: 10em;
    text-align: center;
  }
}

.btn-danger {
  margin-left: 25px;
  margin-top: 50px;
  font-size: 15pt;
}

#buy-house-btn {
  margin-left: -2%;
}
