<nav class="navbar navbar-default">
  <div class="hero-unit">
    <h1 class="main-title">House Search</h1>
  </div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}House Search{{/link-to}}
      {{#link-to 'favorite-houses' class="navbar-brand"}}Favorite Houses{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'cart'}}<div class="cart-total-display">{{cartTotalDisplay}}</div><span class="glyphicon glyphicon-shopping-cart"></span>{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Goats <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'pet'}}Pet{{/link-to}}</li>
            <li>{{#link-to 'dairy'}}Dairy{{/link-to}}</li>
            <li>{{#link-to 'sire'}}Sire{{/link-to}}</li>
            <li>{{#link-to 'mohair'}}Mohair{{/link-to}}</li>
            <li>{{#link-to 'yard'}}Yard{{/link-to}}</li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  {{outlet}}
</div>
<br>
<br>
